<div class="container">
  <div class="title-container">
      <h1>The Weather App</h1>
      <img src="./assets/images/cloud.avif" alt="">
  </div>
  <div class="city-container">
      <input type="text" placeholder="Enter City Name" name="city" #city (keyup.enter)="getWeather(city.value)"> 
      <button (click)="getWeather(city.value)">🔍</button>
  </div>
  <div class="msg" *ngIf="cityPresent" >
      <ul>
        <li>Temperature: <span style="padding-left: 20px;">{{temparature}}</span></li>
        <li>Feels Like: <span>{{feelsLike}}</span></li>
        <li>Humidity: <span style="padding-left: 70px;">{{humidty}}</span></li>
        <li>Pressure: <span style="padding-left: 74px;">{{pressure}}</span></li>
      </ul>
  </div>
  <div class="msg">
    <p *ngIf="!cityPresent">{{weatherError}}</p>
  </div>
  <h5>&copy; 2024 Manoj S J | All Rights Reserved</h5>
</div>

